        <!--header-->
        <%- include('header')%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">giới thiệu</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Anout us Start  -->
        <div class="about-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-frame"> <img class="img-fluid" src="../img/about.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="noo-sh-title-top">VỀ CHÚNG TÔI</h2>
                        <p><b>My Farm</b> là thương hiệu được thành năm 2020 cho đến nay. My Farm không ngừng phát triển vươn lên, mang đến cho người tiêu dùng sự lựa chọn đa dạng về chất lượng hàng hóa và dịch vụ, đáp ứng đầy đủ nhu cầu mua nông sản sạch cho mọi khách hàng…</p>
                        <p>Cung cấp cho khách hàng những sản phẩm đảm bảo an toàn chất lượng, tạo không gian mua sắm trực tuyến dễ dàng hoặc tại cửa hàng, thanh toán thông minh nhanh chóng, an toàn bảo mật thông tin…</p>
                        <p>My Farm đã và đang nỗ lực không ngừng để hoàn thành sứ mệnh của mình: “NƠI AN TÂM MUA SẮM” cho mọi nhà, đáp ứng đầy đủ yêu cầu của khách hàng, mang đến sự thuận tiện, chất lượng đảm bảo khi sử dụng sản phẩm; gia tăng các giá trị,
                             nâng cao chất lượng cuộc sống của người tiêu dùng trong bối cảnh thị trường hiện đại, phát triển và nâng tầm nông sản Việt trên thị trường thế giới.</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>Sứ Mệnh</h3>
                            <p>My Farm luôn nỗ lực đáp ứng đầy đủ yêu cầu mua sắm của khách hàng, cam kết chất lượng khi sử dụng sản phẩm, giao hàng nhanh chóng, nâng cao giá trị cuộc sống của người tiêu dùng trong xã hội hiện đại.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>Tầm nhìn</h3>
                            <p>Mang lại sự lựa chọn hoàn hảo về mua sắm tiện ích, My Farm hướng tới mục tiêu trở thành hệ thống bán lẻ hàng đầu tại Việt Nam, dẫn đầu về cung cấp sản phẩm tiêu dùng và chất lượng dịch vụ trong đời sống người Việt.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>Cam kết khách hàng</h3>
                            <p>Cung cấp cho khách hàng những sản phẩm đảm bảo an toàn chất lượng, mỗi sản phẩm đều được công nhận đạt chuẩn chất lượng VietGap do nhà nước công nhận.</p>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <h2 class="noo-sh-title">THÀNH VIÊN SÁNG LẬP</h2>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team">
                            <div class="our-team"> <img src="../img/ha.jpg" alt="" />
                                <div class="team-content">
                                    <h3 class="title">Phạm Ngọc Hà</h3> <span class="post">Web Developer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>Hiện là sinh viên năm 3 của trường đại học Công Nghệ Thông Tin - DHQG TP.HCM.</p>
                            </div>
                            <hr class="my-0"> </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team">
                            <div class="our-team"> <img src="../img/huy.jpg" alt="" />
                                <div class="team-content">
                                    <h3 class="title">Lê Quốc Huy</h3> <span class="post">Web Developer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>Hiện là sinh viên năm 3 của trường đại học Công Nghệ Thông Tin - DHQG TP.HCM.</p>
                            </div>
                            <hr class="my-0"> </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team">
                            <div class="our-team"> <img src="../img/hien.jpg" alt="" />
                                <div class="team-content">
                                    <h3 class="title">Nguyễn T Thu Hiền</h3> <span class="post">Web Developer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>Hiện là sinh viên năm 3 của trường đại học Công Nghệ Thông Tin - DHQG TP.HCM.</p>
                            </div>
                            <hr class="my-0"> </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team">
                            <div class="our-team"> <img src="../img/huong.jpg" alt="" />
                                <div class="team-content">
                                    <h3 class="title">Trần Ngọc Hương</h3> <span class="post">Web Developer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>Hiện là sinh viên năm 3 của trường đại học Công Nghệ Thông Tin - DHQG TP.HCM.</p>
                            </div>
                            <hr class="my-0"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Page -->
    
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Footer Start -->
        <%- include('footer')%>
