 <!--header-->
 <%- include('header')%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Liên hệ</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="form">
                            <form action="" method="">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="họ tên" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" placeholder="email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="chủ đề" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="nội dung"></textarea>
                                </div>
                                <div><button type="submit">Gửi</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-info">
                            <div class="section-header">
                                <h3>Thông tin liên hệ</h3>       
                            </div>
                            <h4><i class="fa fa-map-marker"></i>đường Tân Lập, Đông Hòa, Dĩ An, Bình Dương</h4>
                            <h4><i class="fa fa-envelope"></i>myfarm.nongsansach@gmail.com</h4>
                            <h4><i class="fa fa-phone"></i>0343524420</h4>
                            <h4><i class="fa fa-truck"></i>Giờ làm việc: 7h00 – 20h00 các ngày trong tuần</h4>

                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        
        
        <!-- Footer Start -->
    <%- include('footer')%>