<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">My farm</h3>
                    <p style="margin-right: 100px;">
                        Với sứ mệnh phát triển bền vững và tạo được cho khách hàng tâm lý “AN TÂM MUA SẮM MỖI NGÀY”, 
                        My farm luôn nỗ lực đáp ứng đầy đủ yêu cầu mua sắm của khách hàng, cam kết chất lượng khi sử dụng sản phẩm, 
                        giao hàng nhanh chóng, nâng cao giá trị cuộc sống của người tiêu dùng trong xã hội hiện đại. 
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Fanpage facebook</h3>
                    <!--<ul>
                        <li><a href="product.html">Product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="login.html">Login & Register</a></li>
                        <li><a href="my-account.html">My Account</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>-->
                    <iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMy-Farm-N%25C3%25B4ng-s%25E1%25BA%25A3n-s%25E1%25BA%25A1ch-109412284588699%2F%3Fref%3Dpage_internal&amp;tabs=timeline&amp;width=400&amp;height=300&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="400" height="200" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Thông tin liên hệ</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>đường Tân Lập, Đông Hòa, Dĩ An, Bình Dương</p>
                        <p><i class="fa fa-envelope"></i>myfarm.nongsansach@gmail.com</p>
                        <p><i class="fa fa-phone"></i>0343524420</p>
                        <p><i class="fa fa-truck"></i>Giờ làm việc: 7h00 – 20h00 các ngày trong tuần</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/MyFarmVietNam"><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row payment">
            <div class="col-md-6">
                <div class="payment-method">
                    <p>Phương thức thanh toán:</p>
                    <img src="../img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <p>Bảo mật:</p>
                    <img src="../img/godaddy.svg" alt="Payment Security" />
                    <img src="../img/norton.svg" alt="Payment Security" />
                    <img src="../img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="#">Team4H</a>. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/slick/slick.min.js"></script>


<!-- Template Javascript -->
<script src="../js/main.js"></script>
</body>
</html>
