        <!--header-->
        <%- include('header')%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Đăng kí</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <div class="thanhcong">
            <img class="img1" src="../img/contract.png">
            <p class="content">ĐĂNG KÍ THÀNH CÔNG <img class="img2" src="../img/check.png"></p>
            <p class="content1">Truy cập email đã đăng kí để xác nhận tài khoản</p>
            <p class="content1"><a href="/">Quay về trang chủ</a><a href="/dangnhap">Đăng nhập</a></p>
        </div>
        
    
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Footer Start -->
        <%- include('footer')%>
